.landing {
  position: relative;
  height: 100vh;
  background: url('https://ent-tomps-images-public-prod.oss-ap-southeast-5.aliyuncs.com/prod/front_view_house_investments_elements_composition_47ad8a9f4a.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
}

.landing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.landing-content {
  position: relative;
  z-index: 2;
}

.landing-content h1, .landing-content p {
  color: white;
  font-size: 40px;
}
.landing-content h1{
  padding-top: 220px;
  padding-bottom: 20px;
}
.landing-info {
  background: #ffffff;
  margin: 20px auto;
  
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landing-info h2 {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 20px;
}

.info-item h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 1rem;
  color: #6c757d;
}

.cta-section {
  padding: 30px;
  background: #f8f9fa;
  text-align: center;
}

.cta-section h2 {
  font-size: 2rem;
  color: #28a745;
  margin-bottom: 10px;
}

.cta-section p {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 20px;
}

.cta-button {
  font-size: 1.2rem;
  color: #fff;
  background: #ff5900;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background: #0056b3;
}
/* Add keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Slight upward motion */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Target the first <h1> */
.landing-content h1:first-of-type {
  animation: fadeIn 1.5s ease-in-out forwards; /* 1.5s duration */
}

/* Target the second <h1> */
.landing-content h1:nth-of-type(2) {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 0.5s; /* Delayed by 0.5 seconds */
}
