*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.carousel .thumb {
    height: 70px !important;
    width: 90px !important;
    overflow: hidden;
    border-radius: 8px;
}

.carousel .thumb img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}